@using Admin.Web.Ui.Services

@inject BrowserService BrowserService; 

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Admin.Web.Ui</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <NavMenuSection 
            IsDesktop=@_isDesktop
            Header="Sbanken"
            UriPrefix="sbanken"/> 
        <li class="divider"></li>
        <NavMenuSection 
            IsDesktop=@_isDesktop
            Header="Coinbase"
            UriPrefix="coinbase"/> 
        <li class="divider"></li>
        <NavMenuSection 
            IsDesktop=@_isDesktop
            Header="Spreadsheet"
            UriPrefix="spreadsheet"/> 
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;
    private bool _isDesktop = false;
    private bool _rendered = false;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDesktop = await BrowserService.IsDesktop();
            _rendered = true;
        }
    }

}