@using Admin.BlazorApp.Services
@using Admin.BlazorApp.ViewModel
@typeparam TApiClient

@if (_backgroundTaskConfigurationsViewModel == null)
{
    return;
}

@if (!_backgroundTaskConfigurationsViewModel.Success)
{
    <p class="alert alert-danger">
        Feil oppstod: @_backgroundTaskConfigurationsViewModel?.ErrorMessage
    </p>
    return;
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Sist kjørt</th>
            <th>Kjøringsintervall</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var backgroundTaskConfiguration in _backgroundTaskConfigurationsViewModel.BackgroundTaskConfigurations)
        {
            <Row 
                BackgroundTaskConfigurationViewModel="@backgroundTaskConfiguration" 
                BackgroundTaskConfigurationService="@BackgroundTaskConfigurationService"/>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IBackgroundTaskConfigurationService<TApiClient> BackgroundTaskConfigurationService { get; set; }

    private BackgroundTaskConfigurationsViewModel _backgroundTaskConfigurationsViewModel;
    
    protected override async Task OnInitializedAsync()
    {
        _backgroundTaskConfigurationsViewModel = await BackgroundTaskConfigurationService.GetBackgroundTaskConfigurations();
    }
}